@model List<RaceViewModel>;
@{
    Layout = "_Layout";
}

<link href="~/css/TableStyle.css" rel="stylesheet" />

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age Info</th>
            <th>Size Info</th>
            <th>Alignment Info</th>
            @* <th>Race Abilities</th> *@
        </tr>
    </thead>
    <tbody>
        @foreach (var race in Model)
        {
            <tr>
                <td>@race.Name</td>
                <td>@race.AgeInfo</td>
                <td>@race.SizeInfo</td>
                <td>@race.AlignmentInfo</td>
                @* <td>@string.Join(", ", race.RaceAbilities)</td> *@
            </tr>
        }
    </tbody>
</table>

