@model CreateCharacterViewModel;
@{
    Layout = "_Layout";
}

<head>
<link href="~/css/CharacterFormStyle.css" rel="stylesheet" />
</head>


<form class="charsheet" action="/Character/CreateCharacter" method="post">
    @Html.AntiForgeryToken()
    <header>
        <section class="charname">
            <label for="CharacterName">Character Name</label><input name="CharacterName" placeholder="Thoradin Fireforge" />
        </section>
        <section class="misc">
            <ul>
                <li>
                    <label for="classlevel">Class</label>
                    <select id="selectedClass" asp-items="Model.ClassToSelect" asp-for="ClassId">
                        <option></option>
                    </select>
                </li>
                <li>
                    <label for="background">Background</label><input name="background" placeholder="Acolyte" />
                </li>
                <li>
                    <label for="race">Race</label>
                    <select asp-items="Model.RaceToSelect" asp-for="RaceId">
                        <option></option>
                    </select>
                </li>
                <li>
                    <label for="alignment">Alignment</label>
                    <select id="Alignment" name="Alignment">
                        <option value="Chaotic Evil">Chaotic Evil</option>
                        <option value="Chaotic Good">Chaotic Good</option>
                        <option value="Chaotic Neutral">Chaotic Neutral</option>
                        <option value="Lawful Evil">Lawful Evil</option>
                        <option value="Lawful Good">Lawful Good</option>
                        <option value="Lawful Neutral">Lawful Neutral</option>
                        <option value="Neutral Evil">Neutral Evil</option>
                        <option value="Neutral Good">Neutral Good</option>
                        <option value="Neutral">Neutral</option>
                    </select>
                </li>
                <li>
                    <label for="ExpPoints">Experience Points</label><input name="ExpPoints" placeholder="3240" />
                </li>
            </ul>
        </section>
    </header>
    <main>
        <section>
            <section class="attributes">
                <div class="scores">
                    <ul>
                        <li>
                            <div class="score">
                                <label for="Strengthscore">Strength</label><input data-atribute-control="STR" name="Strength" id="StrengthScore" placeholder="10" class="stat" />
                            </div>
                            <div class="modifier">
                                <input data-ability="STR" name="Strengthmod" class="strength-mod" id="StrengthModifier" placeholder="+0" class="statmod" />
                            </div>
                        </li>
                        <li>
                            <div class="score">
                                <label for="Dexterityscore">Dexterity</label><input data-atribute-control="DEX" name="Dexterity" id="DexterityScore" placeholder="10" class="stat" />
                            </div>
                            <div class="modifier">
                                <input data-ability="DEX" name="Dexteritymod" id="DexterityModifier" placeholder="+0" class="statmod" />
                            </div>
                        </li>
                        <li>
                            <div class="score">
                                <label for="Constitutionscore">Constitution</label><input data-atribute-control="CON" name="Constitution" id="ConstitutionScore" placeholder="10" class="stat" />
                            </div>
                            <div class="modifier">
                                <input data-ability="CON" name="Constitutionmod" id="ConstitutionModifier" placeholder="+0" class="statmod" />
                            </div>
                        </li>
                        <li>
                            <div class="score">
                                <label for="Wisdomscore">Wisdom</label><input data-atribute-control="WIS" name="Wisdom" id="WisdomScore" placeholder="10" class="stat" />
                            </div>
                            <div class="modifier">
                                <input data-ability="WIS" name="Wisdommod" id="WisdomModifier" placeholder="+0" />
                            </div>
                        </li>
                        <li>
                            <div class="score">
                                <label for="Intelligencescore">Intelligence</label><input data-atribute-control="INT" name="Intelligence" id="IntelligenceScore" placeholder="10" class="stat" />
                            </div>
                            <div class="modifier">
                                <input data-ability="INT" name="Intelligencemod" id="IntelligenceModifier" placeholder="+0" class="statmod" />
                            </div>
                        </li>
                        <li>
                            <div class="score">
                                <label for="Charismascore">Charisma</label><input data-atribute-control="CHA" name="Charisma" id="CharismaScore" placeholder="10" class="stat" />
                            </div>
                            <div class="modifier">
                                <input data-ability="CHA" name="Charismamod" id="CharismaModifier" placeholder="+0" class="statmod" />
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="attr-applications">
                    <div class="inspiration box">
                        <div class="label-container">
                            <label for="inspiration">Inspiration</label>
                        </div>
                        <input name="IsInspired" type="checkbox" />
                    </div>
                    <div class="passive-perception box">
                        <div class="label-container">
                            <label for="passiveperception">Passive Wisdom (Perception)</label>
                        </div>
                        <input name="PassivePerception" placeholder="10" />
                    </div>
                    <div class="saves list-section box">
                        <ul>
                            <li>
                                <label for="Strength-save">Strength</label>
                                <input data-ability="STR" disabled name="Strength-save" id="StrengthSaveModifier" class="strength-mod" placeholder="+0" type="text" />
                                <input id="STR" name="save-prof" disabled type="checkbox" />
                            </li>
                            <li>
                                <label for="Dexterity-save">Dexterity</label>
                                <input data-ability="DEX" disabled name="Dexterity-save" id="DexteritySaveModifier" placeholder="+0" type="text" />
                                <input id="DEX" name="save-prof" disabled type="checkbox" />
                            </li>
                            <li>
                                <label for="Constitution-save">Constitution</label>
                                <input data-ability="CON" disabled name="Constitution-save" id="ConstitutionSaveModifier" placeholder="+0" type="text" />
                                <input id="CON" name="save-prof" disabled type="checkbox" />
                            </li>
                            <li>
                                <label for="Wisdom-save">Wisdom</label>
                                <input data-ability="WIS" disabled name="Wisdom-save" id="WisdomSaveModifier" placeholder="+0" type="text" />
                                <input id="WIS" disabled name="save-prof" type="checkbox" />
                            </li>
                            <li>
                                <label for="Intelligence-save">Intelligence</label>
                                <input data-ability="INT" disabled name="Intelligence-save" id="IntelligenceSaveModifier" placeholder="+0" type="text" />
                                <input id="INT" name="save-prof" disabled type="checkbox" />
                            </li>
                            <li>
                                <label for="Charisma-save">Charisma</label>
                                <input data-ability="CHA" disabled name="Charisma-save" id="CharismaSaveModifier" placeholder="+0" type="text" />
                                <input id="CHA" name="save-prof" disabled type="checkbox" />
                            </li>
                        </ul>
                        <div class="label">
                            Saving Throws
                        </div>
                    </div>
                    <div class="skills list-section box">
                        <ul>
                            @foreach(var skill in Model.Skills)
                            {
                                <li>
                                    <label for="@skill.Id">@skill.Name<span class="skill">(@skill.TruncatedName)</span></label>
                                    <input placeholder="+0" disabled type="text" data-ability="@skill.TruncatedName"/>
                                    <input id="@skill.Id" data-ability="@skill.TruncatedName" value="@skill.Id" class="skillsCheckbox" name="SelectedSkills" type="checkbox" />
                                </li>
                            }
                        </ul>
                        <div class="label">
                            Skills
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <section>
            <section class="combat">
                <div class="armorclass">
                    <div>
                        <label for="ac">Armor Class</label><input name="ArmorClass" placeholder="10" type="text" />
                    </div>
                </div>
                <div class="speed">
                    <div>
                        <label for="speed">Speed</label><input name="speed" placeholder="30" type="text" />
                    </div>
                </div>
                <div class="hp">
                    <div class="regular">
                        <div class="max">
                            <label for="maxhp">Hit Point Maximum</label><input name="HitPointsMax" placeholder="10" type="text" />
                        </div>
                        <div class="current">
                            <label for="currenthp">Current Hit Points</label><input name="CurrentHitPoints" type="text" />
                        </div>
                    </div>
                </div>
                <div class="hitdice">
                    <div>
                        <div class="remaining">
                            <label for="remaininghd">Hit Dice</label><input name="remaininghd" type="text" />
                        </div>
                    </div>
                </div>

            </section>
            <section class="attacksandspellcasting">
                <div id="proficiencyDescription"></div>
            </section>
            
        </section>
        <section>
            <section class="flavor">
                <div class="personality">
                    <label for="PersonalityTraits">Personality</label><textarea name="PersonalityTraits"></textarea>
                </div>
                <div class="ideals">
                    <label for="ideals">Ideals</label><textarea name="ideals"></textarea>
                </div>
                <div class="bonds">
                    <label for="bonds">Bonds</label><textarea name="bonds"></textarea>
                </div>
                <div class="flaws">
                    <label for="flaws">Flaws</label><textarea name="flaws"></textarea>
                </div>
            </section>
            <section class="features">
                <div class="submit-button">
                    <button type="submit">Save</button>
                </div>
            </section> 
        </section>
    </main>
</form>

<script src="~/js/CreateCharacter.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
